<h1>Editar Perfil</h1>
<a href="{% url 'perfil_usu' %}">← Volver</a>
<form method="post">
    {% csrf_token %}
    <label for="nombre">Nombre:</label>
    <input type="text" name="nombre" value="{{ usuario.nombre }}" required><br>

    <label for="apellidos">Apellidos:</label>
    <input type="text" name="apellidos" value="{{ usuario.apellidos }}" required><br>

    <label for="telefono">Teléfono:</label>
    <input type="text" name="telefono" value="{{ usuario.telefono_contacto }}" required><br>

    <label for="contrasena">Contraseña:</label>
    <input type="password" name="contrasena" value="{{ usuario.contraseña }}" required><br>

    <button type="submit">Guardar cambios</button>
</form>